/*
    General
*/

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body,
html {
  margin: 0 0;
  height: 100%;
}

/* App */

.app {
  min-height: 100vh;
}

/*
    Navbar
*/

.nav_header {
  width: 100%;
  border-bottom: 4px solid #7700ff;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.nav_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}
.nav_link:hover {
  color: #7700ff;
  text-decoration: underline;
}

.nav_active {
  color: #7700ff;
  font-weight: 600;
}

.nav_logo {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #7700ff;
}

.nav_logo:hover {
  text-decoration: none;
}

.nav_header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav_header li {
  display: inline-block;
  margin-left: 20px;
}

.nav_burger {
  display: none;
}

.nav_brand input {
  display: none;
}

/* Home  */

.home_img {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_btn {
  background-color: #7700ff;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* Login */
.login_container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 400px;
  margin: 0 auto;
  padding: 20px 30px 10px 30px;
  background-color: rgb(233, 233, 233);
  text-align: center;
  box-shadow: 10px 10px 0px #5900bf;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 15px 0;
}

.login h2 {
  margin: 20px 0 40px 0;
  color: #7700ff;
  text-transform: uppercase;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login form input,
.login form button {
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.login form input {
  outline-color: #7700ff;
}

.login form button {
  outline: none;
  background-color: white;
  border: 2px solid #7700ff;
  color: #7700ff;
  cursor: pointer;
  /* margin-bottom: 0 !important; */
}

.login form button:hover {
  background-color: #7700ff;
  color: white;
}

/* Image Upload */
.imgUpload {
  width: 800px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgUpload_img {
  margin-right: 20px;
}

.imgUpload_upload input {
  display: none;
}

.imgUpload_upload label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 5px dashed #7700ff;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.imgUpload_show {
  padding: 40px;
}

.imgUpload_show img {
  max-width: 500px;
  max-height: 400px;
  object-fit: contain;
  transition: box-shadow 0.5s;
  box-shadow: 10px 10px 0px #5900bf;
}

.imgUpload_show img:hover {
  box-shadow: none;
}

.imgUpload_button {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  border: 2px solid #7700ff;
  color: #7700ff;
  cursor: pointer;
}

.imgUpload_button:hover {
  background-color: #7700ff;
  color: white;
}

/* Response */
.response {
  max-width: 800px;
  margin: 0 auto;
}

/* About */
.about {
  max-width: 800px;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 25px 10px 15px 10px;
}

.social i {
  font-size: 2.3rem;
}

.social i:hover {
  color: #7700ff;
  cursor: pointer;
}

.or {
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 500px) {
  .nav_header {
    position: relative;
  }
  .nav_container {
    padding: 10px;
    flex-direction: column;
  }
  .nav_logo {
    letter-spacing: 1px;
  }
  .nav_burger {
    display: block;
  }
  .nav_brand {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_brand input[type="checkbox"] {
    display: none;
  }
  .nav_burger i {
    font-size: 2rem;
    cursor: pointer;
  }
  .nav_header ul {
    padding: 10px;
  }
  .nav_header ul li {
    width: 100%;
    padding: 10px 0;
  }
  .login {
    width: unset;
    max-width: 400px;
  }
  .imgUpload {
    width: unset;
    max-width: 400px;
    flex-direction: column;
  }
  .imgUpload_img {
    margin-right: 0;
  }
  .imgUpload_show {
    padding: 0;
  }
  .imgUpload_show img {
    max-width: 300px;
    max-height: 400px;
  }
}
