/*
    General
*/

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body,
html {
  margin: 0 0;
  height: 100%;
}

/* App */

.app {
  min-height: 100vh;
}

/*
    Navbar
*/

.nav_header {
  width: 100%;
  border-bottom: 4px solid #7700ff;
  background: white;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.nav_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}
.nav_link:hover {
  color: #7700ff;
  text-decoration: underline;
}

.nav_active {
  color: #7700ff;
  font-weight: 600;
}

.brand .nav_link {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.brand .nav_link:hover {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  position: relative;
}

/* Home  */

.home_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_btn {
  background-color: #7700ff;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
